<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.weibo_username %}
          <li>
            {% include icon-weibo.html username=site.weibo_username nickname=site.weibo_nickname %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
<script src="/js/scrollspy.js"></script>
<script>
(function() {
  var ss = document.getElementById("markdown-toc");
  if (ss != null) {
    var spy = new ScrollSpy('#markdown-toc', {
    nav: '.art-toc > li > a',
    className: 'is-inview'
    });
  }
})();

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f14a3e2dbd150b19d9f583fc1a7c0096";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script id="dsq-count-scr" src="//uxfan.disqus.com/count.js" async></script>
