<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.weibo_username %}
          <li>
            {% include icon-weibo.html username=site.weibo_username nickname=site.weibo_nickname %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

    <div>
      <span id="busuanzi_container_site_pv">总访问量<span id="busuanzi_value_site_pv"></span>次</span>
    </div>
  </div>

</footer>
<script src="/js/index.js"></script>
<script>
  function menuToggle() {
    document.getElementById('dropDownMenu').classList.toggle('show');
  }

  window.onclick = function(event) {
    if (!event.target.matches('.menu-icon')) {

      var dropdown = document.getElementById('dropDownMenu');
      if (dropdown.classList.contains('show')) {
        dropdown.classList.remove('show');
      }
    }
  }
</script>
<script src="/js/scrollspy.js?id=038401ae96285542e1dae32a27552f22"></script>
<script>
(function() {
  var ss = document.getElementById("markdown-toc");
  if (ss != null) {
    var spy = new ScrollSpy('#markdown-toc', {
    nav: '.art-toc > li > a',
    className: 'is-inview'
    });
  }
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d48a3b268d14d4ab5e6efe03c50d089f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36562446-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36562446-1');
</script>
<script id="dsq-count-scr" src="//uxfan.disqus.com/count.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.waves.min.js"></script>

<script>
  let colorSchemeQueryList = window.matchMedia('(prefers-color-scheme: dark)');
  const setColorScheme = e => {
    VANTA.WAVES({
      el: ".site-header",
      mouseControls: false,
      touchControls: true,
      gyroControls: false,
      minHeight: 300,
      minWidth: 100,
      scale: 1,
      scaleMobile: 1,
      color: e.matches ? 0x2e2e2e : 0xff7000,
    })
  }

  setColorScheme(colorSchemeQueryList);
  colorSchemeQueryList.addListener(setColorScheme);
  </script>
