<label class="toggle-switch-main">
    <input type="checkbox" id="toggle-checkbox" onchange="handleSwitchChange(event)" />
    <span class="toggle-switch-ui">
        <i class="toggle-button" id="toggle-checkbox-btn">
            <i class="toggle-icon-sun">{% include icon-sun.svg %}</i>
            <i class="toggle-icon-moon">{% include icon-moon.svg %}</i>
        </i>
    </span>
</label>
<script>

function handleSwitchChange(event) {
    const root = document.documentElement;
    const toggleBtn = document.getElementById('toggle-checkbox-btn');
    toggleBtn.style.removeProperty('transition');
    if (event.currentTarget.checked) {
        root.classList.add('theme-dark');
        window.localStorage.setItem('theme', 'dark');
    } else {
        root.classList.remove('theme-dark');
        window.localStorage.setItem('theme', 'light');
    }
}

(function() {
    const root = document.documentElement;
    const theme = window.localStorage.getItem('theme');
    if (theme === 'dark') {
        root.classList.add('theme-dark');
        const checkbox = document.getElementById('toggle-checkbox');
        const toggleBtn = document.getElementById('toggle-checkbox-btn');
        toggleBtn.style.transition='none';
        checkbox.checked = true;
    }
})();
</script>