<label class="toggle-switch-main">
    <input type="checkbox" id="toggle-checkbox" onchange="handleSwitchChange(event)" />
    <span class="toggle-switch-ui">
        <i class="toggle-button" id="toggle-checkbox-btn">
            <i class="toggle-icon-sun">{% include icon-sun.svg %}</i>
            <i class="toggle-icon-moon">{% include icon-moon.svg %}</i>
        </i>
    </span>
</label>
<script>

const THEME_LIGHT_NAME = 'theme-light';
const THEME_DARK_NAME = 'theme-dark';

function toggleTheme(isDark = true, root = document.documentElement) {
    if (isDark) {
        root.classList.remove(THEME_LIGHT_NAME);
        root.classList.add(THEME_DARK_NAME);
        window.localStorage.setItem('theme', THEME_DARK_NAME);
    } else {
        root.classList.remove(THEME_DARK_NAME);
        root.classList.add(THEME_LIGHT_NAME);
        window.localStorage.setItem('theme', THEME_LIGHT_NAME);
    }
}

function handleSwitchChange(event) {
    const root = document.documentElement;
    const toggleBtn = document.getElementById('toggle-checkbox-btn');
    toggleBtn.style.removeProperty('transition');
    toggleTheme(event.currentTarget.checked);
    window.localStorage.setItem('user-ctrl', 'true');
}

(function() {
    const userCtrl = window.localStorage.getItem('user-ctrl') === 'true';
    const schemeDark =  window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
    const isDark = (schemeDark && !userCtrl) || window.localStorage.getItem('theme') === THEME_DARK_NAME;
    if (!userCtrl) {
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {        
            setTheme(e.matches)
        })
    }

    console.log(isDark)

    function setTheme(isDark) {
        const checkbox = document.getElementById('toggle-checkbox');
        const toggleBtn = document.getElementById('toggle-checkbox-btn');
        toggleBtn.style.transition = 'none';
        toggleTheme(isDark);
        checkbox.checked = isDark;
    }
    setTheme(isDark);
})();
</script>