/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    border-bottom: 0.5px solid $grey-color-light;
    background-color: $grey-color-light-min ;
    min-height: 80px;

    // Positioning context for the mobile navigation icon
    position: relative;
    .wrapper {
        text-align:center;
        height: 80px;
    }
}

.site-title {

    letter-spacing: -1px;
    margin-bottom: 0;
    display:inline-block;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

// .site-nav {
//     float: right;
//     line-height: 56px;
//
//     .menu-icon {
//         display: none;
//     }
//
//     .page-link {
//         color: $text-color;
//         line-height: $base-line-height;
//
//         // Gaps between nav items, but not on the last one
//         &:not(:last-child) {
//             margin-right: 20px;
//         }
//     }
//
//     @include media-query($on-palm) {
//         position: absolute;
//         top: 9px;
//         right: $spacing-unit / 2;
//         background-color: $background-color;
//         border: 1px solid $grey-color-light;
//         border-radius: 5px;
//         text-align: right;
//
//         .menu-icon {
//             display: block;
//             float: right;
//             width: 36px;
//             height: 26px;
//             line-height: 0;
//             padding-top: 10px;
//             text-align: center;
//
//             > svg {
//                 width: 18px;
//                 height: 15px;
//
//                 path {
//                     fill: $grey-color-dark;
//                 }
//             }
//         }
//
//         .trigger {
//             clear: both;
//             display: none;
//         }
//
//         &:hover .trigger {
//             display: block;
//             padding-bottom: 5px;
//         }
//
//         .page-link {
//             display: block;
//             padding: 5px 10px;
//
//             &:not(:last-child) {
//                 margin-right: 0;
//             }
//             margin-left: 20px;
//         }
//     }
// }

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  svg {
    vertical-align: top;
  }
}

.site-nav {
  .menu-icon {
    display: none;
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg {
            width: 18px;
            height: 15px;

            path {
                fill: $grey-color-dark;
            }
        }
    }

    .trigger {
        clear: both;
        display: none;
    }

    &:hover .trigger {
        display: block;
        padding-bottom: 5px;
    }

    .nav-item {
      display: block;
      margin: 0!important;
      padding: 5px 20px;
    }
  }
}

.nav-item {
  font-size: 20px;
  color: $text-color;
  font-size: 0;
  margin: 0 5px;
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  &:hover {
    color: $brand-color!important;
    .nav-icon {
      fill: $brand-color;
    }
  }
  &:visited {
    color: $text-color;
  }
  &:nth-child(2) {
    margin-right: 60px;
  }
  &:nth-child(3) {
    margin-left: 60px;
  }
  .nav-icon {
    width: 18px;
    height: 18px;
    fill: $text-color;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 3px;
  }
}





/**
 * Site footer
 */
.site-footer {
    border-top: 0.5px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 2rem;
    text-align: center;
    position: relative;
    span {
      position: relative;
      padding: 0 5px;
      z-index: 1;
      background: $background-color;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      border: 0.5px solid transparent;
      border-bottom: 0.5px solid $grey-color-light;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        padding-bottom:  $spacing-unit;
        border-bottom: 0.5px solid $grey-color-light;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-intro {
    color: $grey-color;
    font-size: 1.25rem;
    @include media-query($on-laptop) {
        font-size: 1rem;
    }
    h2 {
      font-size: 1.25rem;
      @include media-query($on-laptop) {
          font-size: 1rem;
      }
    }
}

 hr {
   border: 0;
   border-bottom: 0.5px solid $grey-color-light;
   margin-bottom: 10px;
 }


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 1.75rem;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 1.75rem;

        @include media-query($on-laptop) {
            font-size: 1.5rem;
        }
    }

    h3 {
        font-size: 1.5rem;

        @include media-query($on-laptop) {
            font-size: 1.25rem;
        }
    }

    h4 {
        font-size: 1.25rem;

        @include media-query($on-laptop) {
            font-size: 1rem;
        }
    }
}

.page-category {
  h3 {
    width: 100px;
    border-bottom: 2px solid $grey-color-light;
  }
}

.art-num {
  font-size: 0.875rem;
  display: inline-block;
  vertical-align: super;
}
.art-list {
  list-style: none;
  margin-bottom: $spacing-unit;
  .art-date {
    margin-right: 5px;
    font-style: oblique;
    color: $grey-color;
    font-size: 0.875rem;
  }
}
