/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $grey-color-dark;
  border-bottom: 0.5px solid var(--border-color);
  background-color: var(--site-header-background-color);
  height: $bar-height;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  // Positioning context for the mobile navigation icon
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  // overflow: hidden;
  canvas {
    margin-top: -100px;
  }

  .wrapper {
    text-align: center;
    height: $bar-height;
    background: transparent;
    padding: 0;
  }
}

.site-progress {
  position: absolute;
  width: 100vw;
  left: 50%;
  top: $bar-height;
  transform: translateX(-50%);
  height: $progress-bar-ht;
  background-color: $orange-color;
  transform-origin: 0 50%;
}

@keyframes grow-progress {
  from {
    transform: translateX(-50%) scaleX(0);
  }

  to {
    transform: translateX(-50%) scaleX(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.site-progress {
  animation: grow-progress auto linear both;
  animation-timeline: scroll();
}

.site-title {
  letter-spacing: -1px;
  margin-bottom: 0;
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 50px;

  & h1 {
    margin-top: -200%;
    position: absolute;
  }

  &:hover {
    .logo {
      opacity: 0;
      animation: none;
    }

    .logo.avatar {
      opacity: 1;
    }
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  transform: translate(-50%, -50%);
  animation: appear auto ease alternate-reverse both;
  animation-timeline: scroll();

  svg {
    vertical-align: top;
    width: 50px;
    height: 50px;
  }
}

.avatar {
  border-radius: 50%;
  border: 2px solid #ec2d8d;
  box-sizing: border-box;
  overflow: hidden;
  animation: appear auto ease both;
  animation-timeline: scroll();
}

.site-nav {
  margin-top: -32px;
  .menu-icon {
    display: none;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 26px;
    right: $spacing-unit / 2;
    background-color: var(--background-color);
    border: 0.5px solid var(--border-color);
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      position: relative;
      z-index: 99;
      display: inline-block;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;
        pointer-events: none;
        fill: currentColor;
        color: var(--border-color);
      }
    }

    .menu-title {
      position: absolute;
      margin-top: -300%;
    }

    .trigger {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      max-height: 0;
      max-width: 0;
      overflow: hidden;
      white-space: nowrap;

      &.show {
        opacity: 1;
        max-height: 200px;
        max-width: 100px;
        .toggle-switch {
          display: block;
        }
      }
    }

    .nav-item {
      display: block;
      margin: 0 !important;
      padding: 5px 20px;
    }

    .toggle-switch {
      display: none;
      position: static;
      padding: 5px 20px;
      text-align: left;
      border-top: 1px solid var(--border-color);
    }
  }
}

.nav-item {
  font-size: 20px;
  font-size: 0;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  border-radius: 5px;

  &:hover {
    .nav-icon {
      fill: var(--link-hover);
    }
  }

  &:nth-child(2) {
    margin-right: 60px;
  }

  &:nth-child(3) {
    margin-left: 60px;
  }

  .nav-icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 3px;
  }
}

/**
 * Wrapper
 */
 .wrapper {
  position: relative;
  z-index: 1;
  background: var(--background-color);
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-unit;
  // @extend %clearfix;

  @include media-query-min($on-laptop) {
    border-radius: 24px;
  } 

  @include media-query($on-laptop) {
      max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
      max-width:         calc(#{$content-width} - (#{$spacing-unit}));
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
  }
}

/**
 * Site footer
 */
.site-footer {
  color: var(--text-main-color);
  background-color: var(--site-header-background-color);
  border-top: 0.5px solid var(--border-color);
  padding: $spacing-unit 0;
  animation: fade 500ms 200ms ease both;
  overflow: hidden;
  .wrapper {
    background: transparent;
    animation: showUp 1000ms 200ms ease both;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: var(--text-sub-color);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.page-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: var(--animation-bg-opacity);
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/**
 * Page content
 */
.page-content {
  color: var(--text-main-color);
  padding: $bar-height + $spacing-unit / 2 0 $spacing-unit / 2;
  view-transition-name: page-content;
  position: relative;
  z-index: 1;

  .wrapper {
    min-height: calc(100vh - 470px)
  }
}

.page-heading {
  font-size: 2rem;
  text-align: center;
  position: relative;

  b {
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    background: linear-gradient(90deg,#ff8200,#e52e2e);
    padding: 0 5px;
    z-index: 1;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
    padding-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-intro {
  color: var(--text-sub-color);
  font-size: 1rem;

  @include media-query($on-laptop) {
    font-size: 0.875rem;
  }
}

hr {
  border: 0;
  border-bottom: 0.5px solid var(--border-color);
  margin-bottom: 10px;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.5;

  @include media-query($on-laptop) {
    font-size: 1.75rem;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 1.75rem;

    @include media-query($on-laptop) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 1.5rem;

    @include media-query($on-laptop) {
      font-size: 1.25rem;
    }
  }

  h4 {
    font-size: 1.25rem;

    @include media-query($on-laptop) {
      font-size: 1rem;
    }
  }

  a {
    color: var(--link-hover);
  }
}

.page-category {
  h3 {
    width: 100px;
    border-bottom: 2px solid var(--border-color);
  }
}

.art-num {
  font-size: 0.875rem;
  display: inline-block;
  vertical-align: super;
}

.art-list {
  list-style: none;
  margin-bottom: $spacing-unit;

  .art-date {
    margin-right: 5px;
    font-style: oblique;
    color: $grey-color;
    font-size: 0.875rem;
  }
}

.art-toc {
  position: sticky;
  border-radius: 5px;
  width: 200px;
  top: 20px;
  float: right;
  margin: 0;
  margin-right: -220px;
  list-style: none;
  border: 0.5px solid var(--border-color);
  padding: 5px;
  font-size: 14px;

  @include media-query($on-laptop) {
    position: static;
    float: none;
    margin: 0;
    margin-bottom: 10px;
    border: 0;
    width: 100%;
  }

  a {
    padding: 0 5px;
    display: block;
    background-color: transparent;
    transition: all 0.5s ease;

    &.is-inview,
    &:hover {
      background-color: var(--site-header-background-color);
      text-decoration: none;
    }
  }
}

.page-offline {
  text-align: center;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  50% {
    transform: translate3d(10%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  50% {
    transform: translate3d(0, -10%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.toggle-switch {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-switch-main {
  display: inline-flex;
  vertical-align: top;
  cursor: pointer;
}

.toggle-switch-ui {
  display: inline-block;
  border: 1px solid var(--border-color);
  width: 42px;
  height: 24px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--border-color);
    opacity: 0.15;
  }
}

.toggle-button {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  background-color: var(--background-color);
  border-radius: 20px;
  margin: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  transition: transform 0.15s ease;
}

.toggle-button svg {
    width: 14px;
    height: 14px;
    color: var(--text-main-color);
    vertical-align: top;
}

.toggle-button > i {
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.toggle-switch input:checked + .toggle-switch-ui {
  .toggle-button {
    transform: translateX(calc(42px - 22px - 1px));
  }
  .toggle-icon-sun {
    opacity: 0;
  }
  .toggle-icon-moon {
    opacity: 1;
  }
}

.toggle-icon-sun {
  opacity: 1;
}
.toggle-icon-moon {
  opacity: 0;
}
